{% extends 'base.html' %}

{% block title %}首页{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="body-main-swiper"style='height: 1000px;background: url("/static/image/轮播图1.jpg")no-repeat;background-size:100% 100%;background-attachment: fixed;'><h1 style=""></h1></div>
        <div class="body-main-text">
        <div class="body-main-essay box-shade">
            <h2 style="font-weight: 700;margin-top: 55px" >小时候</h2>
            <p>小时候，是一段纯真而美好的时光。那时候没有烦恼，没有忧虑，只有无尽的好奇心和追求自由的憧憬。当时的生活充满了欢笑和童真，我和小伙伴们一起玩闹着，追逐着，无拘无束地享受着生活。</p>
            <h2 style="font-weight: 700">长大后</h2>
            <p>长大后，生活变得更加复杂和现实，在这个世界里，需要掌握更多的知识和技能才能生存和发展。有时，我们会因为生活中的压力和不如意而感到沮丧和困惑。不过，同时也有更多机会和选择，我们可以自由地选择自己的人生道路，追求自己的梦想和目标。随着年龄的增长，我们的成熟和理性也得到了提高，更加深刻地了解了生活的意义和价值，我们变得更加执着、坚定、自信和成熟。</p>

            <p>无论是小时候还是长大后，每个人都会经历自己的成长历程。虽然这些经历不同，但生命的轨迹是延续的，每一步都向着更加美好的明天迈进。回顾过去，珍爱现在，展望未来，这是人生的应有态度。</p>

        </div>
        <div class="introduce clearfix">
            <div class="introduce-text1" >
                <div class="introduce-text1 box-shade">
                <img src="/static/image/cat.gif" alt="小猫咪" class="introduce-text1-gif img-revolve">
                    <div class="introduce-text">
                        <span style="font-size:30px;">my name</span>
                        <p style="font-size: 1rem">时间：2023-4-4</p>
                        <p style="font-size: 30px" ><a href="https://github.com/xutiande"><img src="/static/image/github-fill.png" alt="gitHub" title="打开github" class="more img-revolve"></a></p>
                        <p style="font-size: 30px" ><a href="tencent://message/?uin=2546582616&Site=&Menu=yes"><img src="/static/image/QQ.png" alt="QQ" title="添加QQ" class="more img-revolve"></a></p>
                         <p style="font-size: 30px" ><a href="mailto:aa2546582616@163.com?subject=你好,徐先生"><img src="/static/image/email.png" alt="email" title="发送邮件" class="more img-revolve"></a></p>
                    </div>
                </div>
                </div>
            <div class="introduce-text2 introduce-text1 box-shade" style="height: auto;padding: 5px">
                <img src="/static/image/喇叭..png" alt="喇叭" class="introduce-text2-image">
                <h5>公告</h5>
                <p>第一次开发博客,样式等稍微有点简易。</p>
            </div>
            <div class="introduce-text3 introduce-text1 box-shade" style="height: 335px;margin-top: 20px;padding: 5px">3</div>
        </div>

    </div>
{% endblock %}
