<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<link rel="stylesheet" href="/static/css/log.css">
<style>
</style>
<body>
<!--顶部导航栏-->
<header class="header-fiexd">
    <div class="nav">
        <div class="nav-a"><a href="#">个人博客</a></div>
        <ul class="ul-nav">
            <li><a href="./home.html"><img src="/static/image/首页.png" alt="" class="nav-image"><span>首页</span></a></li>
            <li><a href="./classify.html"><img src="/static/image/分类.png" alt="" class="nav-image"><span>分类</span></a></li>
            <li><a href="./log.html"><img src="/static/image/经历.png" alt="" class="nav-image"><span>日志</span></a></li>
            <li><a href="./introduce.html"><img src="/static/image/介绍信息_o.png" alt="" class="nav-image"><span>介绍</span></a></li>
            <li><a href="./my.html"><img src="/static/image/个人信息.png" alt="" class="nav-image"><span>我的信息</span></a></li>
        </ul>
    </div>
</header>
<!--主体-->
<main class="body-main">
    <div class="body-main-swiper"><h1></h1></div>
    <div class="body-main-text">
        <div class="body-main-essay box-shade">
            <h1>该页面记录开发的过程中的遇到的新鲜事</h1>
            <div class="class1">
                <p>1、鼠标悬停,内容呈现过渡形式：</p>
                <div class="class-box">
                        <a href="#">鼠标悬停<div class="transition"></div></a>
                </div>
            </div>
            <div class="class2"><p>2、3d呈现导航栏</p>
              <div class="class-box2">
                  <ul>
                      <li><a href="#">
                          <span>index</span>
                          <span>首页</span>
                      </a>
                      </li>
                  </ul></div>
            </div>
             <div class="class3">3</div>
             <div class="class4">4</div>
             <div class="class5">5</div>
        </div>
        <div class="introduce clearfix">
            <div class="introduce-text1" >
                <div class="introduce-text1 box-shade">
                <img src="/static/image/cat.gif" alt="小猫咪" class="introduce-text1-gif img-revolve">
                </div>
                </div>
            <div class="introduce-text2">2</div>
            <div class="introduce-text3">3</div>
            <div class="introduce-text4">4</div>
        </div>

    </div>
</main>
<!--页脚-->
<footer class ='body-footer'>
    <div class="box-footer">
        <p>第一个自行开发的超简易博客 </p>
        <p>时间:2023-3-17</p>
        <p>-----------</p>
    </div>
</footer>

</body>
</html>