li{
    list-style: none;
    height: auto;
}
.col-10{
    margin-top: 20px;
}

.question-ul{
    position: relative;
}
.search{
    position: absolute;
    right: 227px;
    top: -53px ;

}

.content{
    position: relative;
    margin: 30px auto 0;
    overflow: hidden;
    width: 1126px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;

}
.question-main{


}
.question-main div{

}
.side-question-avatar{
    float: left;
    width: 30%;
    height: 30%;
}
.side-question-avatar:hover{
    width: 32%;
    height: 32%;
}
.question-title a{
    display: inline-block;
    margin-top: 7px;
    margin-left: 339px;
    text-align: center;
    font-size: 1.72em;
    color: #1f2d3d;
}
.question-content p{
    display: inline-block;
    padding-left: 30px;
    text-indent: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.question-time{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 15px 15px 0;
}
.question-author{
    position: absolute;

    right: 0;
    bottom: 0;
    padding: 0 208px 15px 0;
}